@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-fashion-cream text-fashion-black antialiased;
  }
}

/* Hide scrollbar for clean UI */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}